@charset "utf-8";




* {
    font-family: 'Courier New', Courier, monospace;
}

h1 {
    color: brown;
}


html {
    margin: auto;
}

nav {
    display: none;
}

article::after {
    content: 'este artigo esta sendo impresso';
}